# <b>This project aims to build an AI model which would be able to distinguish genuine news from fake news. It uses Natural Language Processing (NLP) tools.</b>

##### Importing pandas package for data manupulation and handling (mainly tabular data)
##### And creating the data frames for the two news data sets.

In [26]:
import pandas as pd

In [27]:
# Creating the data-frame objects
trueNews_df = pd.read_csv("Data/True_News.csv")
fakeNews_df = pd.read_csv("Data/Fake_News.csv")

### <u>Data Description</u>

In [28]:
# For true news data set
print("-----------------------------------------------------------------------")
print("~~A short overview of True_News dataset~~", end="\n\n")
print(trueNews_df.info())
print("-----------------------------------------------------------------------")
print("True_News dataset:-")
display(trueNews_df)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
~~A short overview of True_News dataset~~

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB
None
-----------------------------------------------------------------------
True_News dataset:-

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

-----------------------------------------------------------------------

In [29]:
# For fake news data set
print("-----------------------------------------------------------------------")
print("~~A short overview of Fake_News dataset~~", end="\n\n")
print(fakeNews_df.info())
print("-----------------------------------------------------------------------")
print("Fake_News dataset:-")
display(fakeNews_df)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
~~A short overview of Fake_News dataset~~

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
None
-----------------------------------------------------------------------
Fake_News dataset:-

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

-----------------------------------------------------------------------

### <u>Data Cleaning</u>

In [30]:
# Remove all the rows containing NaN/missing values
trueNews_df = trueNews_df.dropna()
fakeNews_df = fakeNews_df.dropna()

In [31]:
# Here in these data sets we are mainly focused on the news text.
# So it is safe to drop/remove the other columns for faster and easier data
# handling and text processing.
print("-----------------------------------------------------------------------")
print("Before dropping:-")
print("Columns of true news data set: ", trueNews_df.columns)
print("Columns of fake news data set: ", fakeNews_df.columns)

print("-----------------------------------------------------------------------")

trueNews_df = trueNews_df.drop(['title', 'subject', 'date'], axis=1)
fakeNews_df = fakeNews_df.drop(['title', 'subject', 'date'], axis=1)

print("After dropping:-")
print("Columns of true news data set: ", trueNews_df.columns)
display(trueNews_df)
print("-----------------------------------------------------------------------")
print("Columns of fake news data set: ", fakeNews_df.columns)
display(fakeNews_df)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
Before dropping:-
Columns of true news data set:  Index(['title', 'text', 'subject', 'date'], dtype='object')
Columns of fake news data set:  Index(['title', 'text', 'subject', 'date'], dtype='object')
-----------------------------------------------------------------------
After dropping:-
Columns of true news data set:  Index(['text'], dtype='object')

                                                    text
0      WASHINGTON (Reuters) - The head of a conservat...
1      WASHINGTON (Reuters) - Transgender people will...
2      WASHINGTON (Reuters) - The special counsel inv...
3      WASHINGTON (Reuters) - Trump campaign adviser ...
4      SEATTLE/WASHINGTON (Reuters) - President Donal...
...                                                  ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...
21413  LONDON (Reuters) - LexisNexis, a provider of l...
21414  MINSK (Reuters) - In the shadow of disused Sov...
21415  MOSCOW (Reuters) - Vatican Secretary of State ...
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[21417 rows x 1 columns]

-----------------------------------------------------------------------
Columns of fake news data set:  Index(['text'], dtype='object')

                                                    text
0      Donald Trump just couldn t wish all Americans ...
1      House Intelligence Committee Chairman Devin Nu...
2      On Friday, it was revealed that former Milwauk...
3      On Christmas day, Donald Trump announced that ...
4      Pope Francis used his annual Christmas Day mes...
...                                                  ...
23476  21st Century Wire says As 21WIRE reported earl...
23477  21st Century Wire says It s a familiar theme. ...
23478  Patrick Henningsen  21st Century WireRemember ...
23479  21st Century Wire says Al Jazeera America will...
23480  21st Century Wire says As 21WIRE predicted in ...

[23481 rows x 1 columns]

-----------------------------------------------------------------------

In [32]:
# Now to distinguish the true news from the fake ones, we shall assign a simple
# label to both the data sets.
# label = 0 for fake news
# label = 1 for true news
# We shall add a new column called label which will hold either 0 or 1
trueNews_df["label"] = 1
print("-----------------------------------------------------------------------")
print("The true news data set after addition of 'label' column:-")
display(trueNews_df)
fakeNews_df["label"] = 0
print("-----------------------------------------------------------------------")
print("The fake news data set after addition of 'label' column:-")
display(fakeNews_df)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
The true news data set after addition of 'label' column:-

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      1
1      WASHINGTON (Reuters) - Transgender people will...      1
2      WASHINGTON (Reuters) - The special counsel inv...      1
3      WASHINGTON (Reuters) - Trump campaign adviser ...      1
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      1
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[21417 rows x 2 columns]

-----------------------------------------------------------------------
The fake news data set after addition of 'label' column:-

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      0
23477  21st Century Wire says It s a familiar theme. ...      0
23478  Patrick Henningsen  21st Century WireRemember ...      0
23479  21st Century Wire says Al Jazeera America will...      0
23480  21st Century Wire says As 21WIRE predicted in ...      0

[23481 rows x 2 columns]

-----------------------------------------------------------------------

In [33]:
# Now concatinating the two data sets into one so we can work on one data-set
# and train and test our AI model.
news_df = pd.concat([trueNews_df, fakeNews_df], axis=0)
news_df.reset_index(drop=True, inplace=True) # resetting the indices of the new
                                             # data frame
                                             
print("-----------------------------------------------------------------------")
print("The new data frame object is as follows:-")
display(news_df)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
The new data frame object is as follows:-

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      1
1      WASHINGTON (Reuters) - Transgender people will...      1
2      WASHINGTON (Reuters) - The special counsel inv...      1
3      WASHINGTON (Reuters) - Trump campaign adviser ...      1
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      1
...                                                  ...    ...
44893  21st Century Wire says As 21WIRE reported earl...      0
44894  21st Century Wire says It s a familiar theme. ...      0
44895  Patrick Henningsen  21st Century WireRemember ...      0
44896  21st Century Wire says Al Jazeera America will...      0
44897  21st Century Wire says As 21WIRE predicted in ...      0

[44898 rows x 2 columns]

-----------------------------------------------------------------------

##### Now that we have created a clean data frame object to work on, we shall focus on building the AI model
##### We shall first import nltk to use the tools required to build this model

In [34]:
import nltk

### <u>Text Pre-Processing</u>

#### <b>TOKENISATION</b>
##### <i>dividing a large piece of continuous text into distinct units or tokens for easier and faster text processing</i>

In [35]:
nltk.download('punkt') # downloading the resource
from nltk.tokenize import word_tokenize

# The text is split over spaces and punctuations
news_df['text'] = news_df['text'].apply(word_tokenize)

print("-----------------------------------------------------------------------")
display(news_df)
print("-----------------------------------------------------------------------")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vkfak\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

-----------------------------------------------------------------------

                                                    text  label
0      [WASHINGTON, (, Reuters, ), -, The, head, of, ...      1
1      [WASHINGTON, (, Reuters, ), -, Transgender, pe...      1
2      [WASHINGTON, (, Reuters, ), -, The, special, c...      1
3      [WASHINGTON, (, Reuters, ), -, Trump, campaign...      1
4      [SEATTLE/WASHINGTON, (, Reuters, ), -, Preside...      1
...                                                  ...    ...
44893  [21st, Century, Wire, says, As, 21WIRE, report...      0
44894  [21st, Century, Wire, says, It, s, a, familiar...      0
44895  [Patrick, Henningsen, 21st, Century, WireRemem...      0
44896  [21st, Century, Wire, says, Al, Jazeera, Ameri...      0
44897  [21st, Century, Wire, says, As, 21WIRE, predic...      0

[44898 rows x 2 columns]

-----------------------------------------------------------------------

#### <b>LEMMATISATION</b>
##### <i>reducing different forms of a word to a core root word to reduce the text size to be handled and processed.</i>

In [36]:
nltk.download('wordnet') # downloading the resources for lemmatisation
from nltk.stem import WordNetLemmatizer
# Initialising the Wordnet Lemmatizer
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\vkfak\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [37]:
# Defining a function returning the lemmatised list of words
def lemmatise(sentence):
    return ([lemmatizer.lemmatize(word) for word in sentence])

In [38]:
# Applying lemmatization to the text of the news_df
news_df['text'] = news_df['text'].apply(lemmatise)

print("-----------------------------------------------------------------------")
display(news_df)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------

                                                    text  label
0      [WASHINGTON, (, Reuters, ), -, The, head, of, ...      1
1      [WASHINGTON, (, Reuters, ), -, Transgender, pe...      1
2      [WASHINGTON, (, Reuters, ), -, The, special, c...      1
3      [WASHINGTON, (, Reuters, ), -, Trump, campaign...      1
4      [SEATTLE/WASHINGTON, (, Reuters, ), -, Preside...      1
...                                                  ...    ...
44893  [21st, Century, Wire, say, As, 21WIRE, reporte...      0
44894  [21st, Century, Wire, say, It, s, a, familiar,...      0
44895  [Patrick, Henningsen, 21st, Century, WireRemem...      0
44896  [21st, Century, Wire, say, Al, Jazeera, Americ...      0
44897  [21st, Century, Wire, say, As, 21WIRE, predict...      0

[44898 rows x 2 columns]

-----------------------------------------------------------------------

#### <b>STOPWORDS REMOVAL</b>
##### <i>commonly used words (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore so that the amount of words to be processed is less and only the most important and significant words are considered</i>

In [39]:
nltk.download("stopwords") # downloading the resources
from nltk.corpus import stopwords

print("-----------------------------------------------------------------------")
print("These are the stopwords in English:-", stopwords.words('english'),
      sep="\n")
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
These are the stopwords in English:-
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
-----------------------------------------------------------------------

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vkfak\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [40]:
# Defining a function returning a list of words excluding the stopwords
def removeStopwords(listOfWords):
    return ([word for word in listOfWords
             if word not in stopwords.words('english')])

In [41]:
# Applying the stopwords removal function to the news_df text
news_df['text'] = news_df['text'].apply(removeStopwords)

print("-----------------------------------------------------------------------")
display(news_df)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------

                                                    text  label
0      [WASHINGTON, (, Reuters, ), -, The, head, cons...      1
1      [WASHINGTON, (, Reuters, ), -, Transgender, pe...      1
2      [WASHINGTON, (, Reuters, ), -, The, special, c...      1
3      [WASHINGTON, (, Reuters, ), -, Trump, campaign...      1
4      [SEATTLE/WASHINGTON, (, Reuters, ), -, Preside...      1
...                                                  ...    ...
44893  [21st, Century, Wire, say, As, 21WIRE, reporte...      0
44894  [21st, Century, Wire, say, It, familiar, theme...      0
44895  [Patrick, Henningsen, 21st, Century, WireRemem...      0
44896  [21st, Century, Wire, say, Al, Jazeera, Americ...      0
44897  [21st, Century, Wire, say, As, 21WIRE, predict...      0

[44898 rows x 2 columns]

-----------------------------------------------------------------------

In [42]:
# Joining the words back to form the text that the AI model will train and test
# on (seperated by a space)
news_df['text'] = news_df['text'].apply(' '.join)

### <u>Splitting Up of Data</u>
#### <i>into Training Set and Testing Set</i>

In [43]:
from sklearn.model_selection import train_test_split

xTrain, xTest, yTrain, yTest = train_test_split(news_df['text'],
                                                news_df['label'],
                                                test_size=0.25)

print("-----------------------------------------------------------------------")
print("Training set:-")
print("xTrain:-")
display(xTrain) # contains 'text'
print("yTrain:-")
display(yTrain) # contains 'label'
print("-----------------------------------------------------------------------")
print("Testing set:-")
print("xTest:-")
display(xTest) # contains 'text'
print("yTest:-")
display(yTest) # contains 'label' - predicted value should match with this value
               # to be correct
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
Training set:-
xTrain:-

24394    On Friday , half nation mourn bigot tiny hand ...
7329     PARIS ( Reuters ) - French President Francois ...
4439     WASHINGTON ( Reuters ) - A Republican-backed S...
19617    BEIJING ( Reuters ) - Stability absolute princ...
200      WASHINGTON ( Reuters ) - The U.S. Congress all...
                               ...
5655     ( Reuters ) - U.S. Customs & Border Protection...
25304    Donald Trump showed vote New York City wife Me...
43913    21st Century Wire say The privatization space ...
5822     WASHINGTON ( Reuters ) - U.S. President Donald...
6012     MEXICO CITY ( Reuters ) - Mexican Economy Mini...
Name: text, Length: 33673, dtype: object

yTrain:-

24394    0
7329     1
4439     1
19617    1
200      1
        ..
5655     1
25304    0
43913    0
5822     1
6012     1
Name: label, Length: 33673, dtype: int64

-----------------------------------------------------------------------
Testing set:-
xTest:-

41508    Hillary several chance year treat Secret Servi...
8535     WASHINGTON/PORTLAND , Me . ( Reuters ) - Suppo...
26493    Another day , another Hillary Clinton scandal ...
35489    Wow ! Did Hannity go far Cruz go far enough ? ...
41543    Wow ! This compilation blatant blocking Hillar...
                               ...
8231     PHILADELPHIA ( Reuters ) - U.S. Republican pre...
17146    BOGOR , Indonesia ( Reuters ) - Qatar open dia...
39138    Was first actress outed accused rapist serial ...
13055    DUBLIN ( Reuters ) - Ireland might consider ad...
25274    These deplorable people incapable taking perso...
Name: text, Length: 11225, dtype: object

yTest:-

41508    0
8535     1
26493    0
35489    0
41543    0
        ..
8231     1
17146    1
39138    0
13055    1
25274    0
Name: label, Length: 11225, dtype: int64

-----------------------------------------------------------------------

### <u>Vectorisation</u>
##### <i>used to convert textual data to numerical format; a matrix is created - each column represents a feature, each row represents an individual review</i>

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
nc_tfidf = TfidfVectorizer(max_df=0.7)

# Calculating the TF-IDF value for both the sets
tfidf_train = nc_tfidf.fit_transform(xTrain)
tfidf_test = nc_tfidf.transform(xTest)

# Displaying the TF-IDF matrices
print("-----------------------------------------------------------------------")
print("TF-IDF matrix for training set:-", tfidf_train, sep="\n")
print("-----------------------------------------------------------------------")
print("TF-IDF matrix for testing set:-", tfidf_test, sep="\n")
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
TF-IDF matrix for training set:-
  (0, 72778)	0.11496595662744573
  (0, 73072)	0.08853977291480136
  (0, 88302)	0.08206425062279862
  (0, 46882)	0.045961548983818025
  (0, 39942)	0.0457402669445119
  (0, 99529)	0.031621692122746965
  (0, 46875)	0.034256597318872054
  (0, 36076)	0.03629770229976566
  (0, 102860)	0.022569484414894418
  (0, 45124)	0.08833091062788626
  (0, 67560)	0.052221037071916304
  (0, 8585)	0.07724634894254788
  (0, 101059)	0.0664876663918193
  (0, 40876)	0.039762811902064966
  (0, 55689)	0.043452732554692834
  (0, 83094)	0.028194146134495952
  (0, 48500)	0.13346553942671108
  (0, 103827)	0.024759896875612426
  (0, 37879)	0.04390087740666134
  (0, 66120)	0.03894330033369814
  (0, 69562)	0.08279984189571593
  (0, 93520)	0.030928778640458534
  (0, 90465)	0.07253278829371919
  (0, 93597)	0.04289762071100601
  (0, 100737)	0.03340977085667599
  :	:
  (33672, 15678)	0.11410885836777618
  (33672, 62185)	0.06356323742843205
  (33672, 94917)	0.3092655652251398
  (33672, 64795)	0.12984994648215348
  (33672, 8363)	0.1620489077351615
  (33672, 96518)	0.045653250757149814
  (33672, 101260)	0.0583757273643337
  (33672, 84188)	0.08270954872060335
  (33672, 12834)	0.09032950458556056
  (33672, 38192)	0.06981913847385181
  (33672, 99668)	0.07476830784597906
  (33672, 86056)	0.14439606529915455
  (33672, 57338)	0.058571278532952575
  (33672, 93754)	0.05937627763129772
  (33672, 100893)	0.04794919393486656
  (33672, 8750)	0.07795729891711856
  (33672, 94415)	0.04362389106754616
  (33672, 30557)	0.039450422058993954
  (33672, 74575)	0.034269989889224
  (33672, 79923)	0.036038486322505
  (33672, 83094)	0.043649739675709065
  (33672, 95660)	0.0712288854921832
  (33672, 52788)	0.07940374507486812
  (33672, 38776)	0.07526708326574573
  (33672, 25172)	0.04528435581095694
-----------------------------------------------------------------------
TF-IDF matrix for testing set:-
  (0, 103827)	0.015931259115719697
  (0, 102860)	0.014521882143864413
  (0, 102774)	0.028403769212691714
  (0, 101711)	0.028117528359000304
  (0, 100947)	0.07992413194998972
  (0, 100893)	0.01992782354480177
  (0, 100738)	0.06456936032822243
  (0, 100624)	0.046425586615879914
  (0, 100617)	0.04399239975223056
  (0, 99620)	0.05275848909094749
  (0, 99227)	0.04066165946289284
  (0, 98492)	0.031472116067498127
  (0, 97802)	0.0441916698730054
  (0, 97656)	0.06207755297911775
  (0, 96518)	0.018973622926193225
  (0, 96190)	0.03174811676479623
  (0, 95879)	0.035357245099735236
  (0, 95660)	0.014801465310441488
  (0, 95590)	0.04285772748124117
  (0, 95467)	0.03804511853923001
  (0, 95260)	0.04072379498701363
  (0, 95253)	0.09225945241054288
  (0, 93951)	0.017802888161117643
  (0, 93429)	0.09378069212326787
  (0, 93274)	0.034963431924741536
  :	:
  (11224, 20363)	0.04519543322347114
  (11224, 19454)	0.025600388611597875
  (11224, 19352)	0.07458143882888385
  (11224, 18830)	0.047135581609985426
  (11224, 18069)	0.047189714916029434
  (11224, 17498)	0.09472941722431946
  (11224, 16394)	0.06372359306283225
  (11224, 16142)	0.05596389231857876
  (11224, 16137)	0.0458217075780711
  (11224, 16031)	0.10940506345360283
  (11224, 14731)	0.038233291664138386
  (11224, 14613)	0.04509899249543012
  (11224, 12673)	0.03628748190117765
  (11224, 12431)	0.03846564474512476
  (11224, 12268)	0.03308826196272623
  (11224, 11985)	0.029559208305171763
  (11224, 11105)	0.04217492317936479
  (11224, 10386)	0.02704598897467446
  (11224, 8728)	0.035924094767538266
  (11224, 8502)	0.0556458394317131
  (11224, 7921)	0.07366742561197599
  (11224, 7795)	0.03716394879609089
  (11224, 7789)	0.045654655638523764
  (11224, 7235)	0.08862534774984004
  (11224, 1573)	0.09049683441464662
-----------------------------------------------------------------------

### <u>Training and Testing (Predictions)</u>

#### using <b>LOGISTIC REGRESSION</b>
##### <i>ML algorithm; used for the classification problems; a predictive analysis algorithm; based on the concept of probability</i>

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [46]:
nc_model_lr = LogisticRegression(max_iter=900)
nc_model_lr.fit(tfidf_train, yTrain) # training the model

LogisticRegression(max_iter=900)

In [47]:
predictions_lr = nc_model_lr.predict(tfidf_test) # testing the model and
                                                 # making predictions
accuracy_lr = accuracy_score(yTest, predictions_lr)

print("-----------------------------------------------------------------------")
print("Accuracy Percentage using LOGISTIC REGRESSION is ",
      accuracy_lr * 100, "%", sep="")
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
Accuracy Percentage using LOGISTIC REGRESSION is 98.49443207126949%
-----------------------------------------------------------------------

#### using <b>PASSIVE-AGGRESSIVE CLASSIFIER</b>
##### <i>passive: if prediction is correct, keep the model; aggressive: if prediction is incorrect, change the model to correct it</i>

In [48]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [49]:
nc_model_pac = PassiveAggressiveClassifier(max_iter=50)
nc_model_pac.fit(tfidf_train, yTrain) # training the model

PassiveAggressiveClassifier(max_iter=50)

In [50]:
predictions_pac = nc_model_pac.predict(tfidf_test) # testing the model and
                                                   # making predictions
accuracy_pac = accuracy_score(yTest, predictions_pac)

print("-----------------------------------------------------------------------")
print("Accuracy Percentage using PASSIVE-AGGRESIVE CLASSIFIER is ",
      accuracy_pac * 100, "%", sep="")
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
Accuracy Percentage using PASSIVE-AGGRESIVE CLASSIFIER is 99.3674832962138%
-----------------------------------------------------------------------

# <b>---------------------------------------------------------------------------------------------------</b>